@if (post(); as post) {
<ng-template #image>
  <a class="post-pic" routerLink="{{ linkForPost(post) }}">
    @if (post.picture_pre) {
    <img width="120" height="120" [ngSrc]="post.picture_pre" placeholder />
    } @else {
    <div class="post-pic-placeholder"></div>
    }
  </a>
</ng-template>

@if(imageFirst()) {
<ng-container *ngTemplateOutlet="image"></ng-container>
}
<div class="post-text">
  <a class="post-title" routerLink="{{ linkForPost(post) }}">
    {{ post.title }}
  </a>
  <p class="post-descr">{{ post.description }}</p>
  <p class="post-tags">
    @for (tag of post.tags; track tag) {
    <a (click)="tagClicked(tag)">#{{ tag }}</a>
    }
  </p>
</div>
@if(!imageFirst()) {
<ng-container *ngTemplateOutlet="image"></ng-container>
} }
