@use "mixins" as mixs;
@use "theme-colors" as c;
@use "sass:map";

:host {
  display: flex;
  // margin-bottom: 1rem;
  gap: 0.5rem;

  .post-pic {
    display: block;
    flex-shrink: 0;
    cursor: pointer;

    img {
      object-fit: cover;
      border-radius: 1rem;
    }

    div.post-pic-placeholder {
      width: 120px;
      height: 120px;
      border-radius: 1rem;
      border: 2px dashed map.get(c.$primary-palette, 90);
    }
  }
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

  flex-grow: 1;

  & > * {
    margin: 0.25rem;
  }

  .post-title {
    @include mixs.line-clamp(1);
    color: var(--mat-sys-primary);
    font: var(--mat-sys-title-large);
    cursor: pointer;
  }

  .post-descr {
    @include mixs.line-clamp(2);
    font: var(--mat-sys-body-medium);
  }

  .post-tags {
    @include mixs.line-clamp(1);
    color: var(--mat-sys-secondary);
    font: var(--mat-sys-body-small);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > * {
      white-space: nowrap;
    }
  }
}
