@use "@angular/material" as mat;
@use "sass:map";
@use "mixins" as mixs;
@use "theme-colors" as c;

.content {
  padding: 0 20px;
}

.slogan {
  height: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: var(--mat-sys-level0);

  p {
    margin: 0;
  }

  .title {
    color: map.get(c.$primary-palette, 100);
    font: var(--mat-sys-headline-small);
    font-weight: bold;

    animation: neon-glow 1.5s ease-in-out infinite alternate;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 180%;
      left: -45%;
      height: 100%;
      width: 200%;
      background: var(--mat-sys-primary);
      transform: perspective(10px) rotateX(10deg) scale(1, 0.2);
      filter: blur(1em);
      opacity: 0.5;
    }
  }

  .text {
    font: var(--mat-sys-label-small);
    opacity: 0.5;
  }

  @include mixs.for-size(desktop) {
    height: 15rem;
  }
}

.content-block {
  margin-bottom: 8px;
}

mat-divider {
  margin: 30px 0;

  &.divider-footer {
    margin-bottom: 60px;
  }

  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );
}

.divider {
  margin: 2rem 0;
  height: 1px;
}

@keyframes neon-glow {
  from {
    text-shadow: 0 0 10px var(--mat-sys-primary),
      0 0 20px var(--mat-sys-primary), 0 0 30px var(--mat-sys-primary),
      0 0 40px var(--mat-sys-primary), 0 0 70px var(--mat-sys-primary),
      0 0 80px var(--mat-sys-primary), 0 0 100px map.get(c.$primary-palette, 25),
      0 0 150px map.get(c.$primary-palette, 25);
  }
  to {
    text-shadow: 0 0 5px var(--mat-sys-primary), 0 0 10px var(--mat-sys-primary),
      0 0 15px var(--mat-sys-primary), 0 0 20px var(--mat-sys-primary),
      0 0 35px map.get(c.$primary-palette, 35),
      0 0 40px map.get(c.$primary-palette, 35),
      0 0 50px map.get(c.$primary-palette, 25),
      0 0 75px map.get(c.$primary-palette, 25);
  }
}
