<h1 mat-h1>Choose a collection</h1>
<div class="container">
  <div matRipple class="collection-box" (click)="publishInCollection(parentId)">
    @if (parentImgSrc) {
      <img src="{{ parentImgSrc }}" />
    }
    <h2 mat-h2>
      @if (parentTitle) {
        Publish in {{ parentTitle }}
      } @else {
        No collection
      }
    </h2>
  </div>

  @if (isCanAddNew) {
    @if (isAdding) {
      <app-new-collection
        (onSave)="onNewCollection($event)"
        (onCancel)="onNewCancel()"
        [parentId]="parentId"
        class="collection-box"
      ></app-new-collection>
    } @else {
      <div matRipple class="collection-box" (click)="addCollection()">
        <mat-icon>add</mat-icon>
      </div>
    }
  }
  @for (item of availableCollections; track item.id) {
    @if (parentId) {
      <div
        matRipple
        class="collection-box"
        (click)="publishInCollection(item.id)"
      >
        @if (item.img_src) {
          <img src="{{ item.img_src }}" />
        }
        <h2 mat-h2>{{ item.title }}</h2>
      </div>
    } @else {
      <a
        matRipple
        class="collection-box"
        [routerLink]="['/publish']"
        [queryParams]="{ id: id, pid: item.id }"
      >
        @if (item.img_src) {
          <img src="{{ item.img_src }}" />
        }
        <h2 mat-h2>{{ item.title }}</h2>
      </a>
    }
  }
</div>
