:host {
  margin: 20px;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.collection-box {
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 20px;

  text-decoration: none;
  font-size: var(--mat-sys-title-large);
  //   font-size: 2rem;
  color: var(--mat-sys-on-surface);

  display: flex;
  width: 30ch;
  height: 20rem;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    z-index: 1;
  }

  img {
    display: block;
    position: fixed;
    mask-image: linear-gradient(black 0%, transparent 100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  mat-icon {
    display: block;
    transform: scale(4);
  }
}
