@use "@angular/material" as mat;
.title {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-title-medium);
  box-shadow: var(--mat-sys-level0);
  margin-bottom: 20px;
}

.image {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

.actions {
  display: flex;
  padding: 30px 0;
  justify-content: center;

  button {
    // font-size: 45px;
    height: 60px;
    width: 100%;

    mat-icon {
      font-size: 45px;
      height: 45px;
      width: 45px;
    }

    @include mat.icon-overrides(
      (
        color: var(--mat-sys-primary),
      )
    );

    @include mat.button-overrides(
      (
        outlined-outline-color: var(--mat-sys-outline-variant),
      )
    );
  }
}
