@if (title(); as title) {
<p class="title" i18n>POPULAR</p>
}
<mat-grid-list gutterSize="2" cols="3" rowHeight="130">
  @for (item of ( onSecondPage ? secondPage() : firstPage() ) ; track item) {
  <mat-grid-tile
    class="image"
    [style]="{ 'background-image': 'url(' + item.picture_pre + ')' }"
    routerLink="/{{ item.name ? item.name : 'p/' + item.id }}"
  ></mat-grid-tile>
  }
</mat-grid-list>
@if(this.secondPage()) {
<div class="actions">
  <button (click)="togglePage()" matButton="outlined">
    <mat-icon>
      {{ onSecondPage ? "navigate_before" : "navigate_next" }}</mat-icon
    >
  </button>
</div>
}
