@if (isHandset$ | async) {

<mat-form-field>
  <button matIconPrefix matIconButton (click)="closeSearch()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <input
    matInput
    [formControl]="searchControl"
    placeholder="Search..."
    [matAutocomplete]="auto"
  />
  <button matIconSuffix (click)="clearInput()" matIconButton>
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    @for (res of ( results$ | async ); track res.id) {
    <mat-option (click)="closeSearch()" [routerLink]="itemUrl(res)">
      <div class="opt">
        <div class="s-image-wrapper">
          <div class="s-image" [style.background]="itemBack(res)"></div>
        </div>
        <div class="s-info">
          <p class="s-title">{{ res.title }}</p>
          <p class="s-descr">{{ res.description }}</p>
        </div>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
} @else { TODO

<!-- <div class="container">
  <div class="desktop-search">
    <input
      type="text"
      placeholder="Search"
      matInput
      [formControl]="searchControl"
    />
    <mat-icon matSuffix>search</mat-icon>
  </div>
</div> -->
}
