services:
  traefik:
    image: traefik:v2.5
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--log.level=TRACE"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8081:8081"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    volumes:
      - ./back/bloginya.yml:/app/bloginya.yml
    depends_on:
      - db
      - redis
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    depends_on:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"

  cool_asia:
    build:
      context: ./cool_asia
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cool_asia.rule=PathPrefix(`/api/cool_asia`)"
      - "traefik.http.services.cool_asia.loadbalancer.server.port=8000"

  cool_audio:
    build:
      context: ./cool_audio
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cool_audio.rule=PathPrefix(`/api/cool_audio`)"
      - "traefik.http.services.cool_audio.loadbalancer.server.port=8000"

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: bloginya
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:6
