
:host {
  --ngx-editor-border-radius: --var(--blog-border-radius);
  --ngx-editor-background-color: var(--blog-background-color);
  --ngx-editor-text-color: var(--blog-text-color);
  --ngx-editor-placeholder-color: var(--blog-placeholder-color);
  --ngx-editor-border-color: var(--blog-border-color);
  --ngx-editor-wrapper-border-color: var(--blog-wrapper-border-color);

  --ngx-editor-menubar-bg-color: var(--blog-menubar-bg-color);
  --ngx-editor-menubar-padding: var(--blog-menubar-padding);
  --ngx-editor-menubar-height: var(--blog-menubar-height);

  --ngx-editor-blockquote-color: var(--blog-blockquote-color);
  --ngx-editor-blockquote-border-width: var(--blog-blockquote-border-width);

  --ngx-editor-icon-size: 30px;
  --ngx-editor-popup-bg-color: var(--mat-sys-surface);
  --ngx-editor-popup-border-radius: 4px;
  --ngx-editor-popup-shadow: var(--mat-sys-outline) 0px 2px 6px 2px;

  --ngx-editor-menu-item-border-radius: 2px;
  --ngx-editor-menu-item-active-color: var(--mat-sys-on-primary);
  --ngx-editor-menu-item-hover-bg-color: var(--mat-sys-primary);
  --ngx-editor-menu-item-active-bg-color: var(--mat-sys-primary);
  --ngx-editor-seperator-color: var(--mat-sys-outline-variant);

  --ngx-editor-focus-ring-color: var(--mat-sys-primary);
  --ngx-editor-error-color: var(--mat-sys-error);
  --ngx-editor-click-pointer: default;
}

.post-editor-container {
  margin: 20px;

  mat-spinner {
    margin: auto;
  }

  .post-editor-content {
    margin: auto;
    max-width: var(--blog-max-width);
    word-wrap: break-word;
  }

  .post-editor {
    margin-bottom: 1rem;
  }

  input {
    &[type="file"] {
      display: none;
    }
  }

  .post-editor-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
