<div class="post-editor-container">
  <div class="post-editor-content">
    @if (this.form) {
      <form [formGroup]="form">
        <div class="post-editor">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
          </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="editorContent">
              <!-- <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu> -->
          </ngx-editor>
          @if (attachmentLoading) {
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          } @else {
            <div style="height: 4px"></div>
          }
        </div>

        <input
          type="file"
          accept="image/*"
          (change)="onFilesSelected($event)"
          multiple="multiple"
          #filesUpload
        />

        <div class="post-editor-buttons">
          <button mat-icon-button (click)="filesUpload.click()">
            <mat-icon>attachment</mat-icon>
          </button>
          <span class="flex-spacer"></span>
          <button mat-button (click)="save()">Save</button>
          <button mat-flat-button (click)="publish()">Publish</button>
        </div>
      </form>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>
