@if (!(savedPost$() | async)) {
<div class="spin-container"><mat-spinner></mat-spinner></div>
} @else {
<form [formGroup]="form">
  <div
    class="title"
    [class]="picture() ? 'title-imaged' : 'title-bordered'"
    [style]="
      picture()
        ? {
            background:
              'linear-gradient(to right, rgba(0,0,0, 0.4)), url(' +
              picture() +
              ') no-repeat center / cover'
          }
        : ''
    "
  >
    <div class="dimmed-background"></div>

    <input type="text" placeholder="Title..." />
    <button matIconButton (click)="wpInput.click()">
      <mat-icon>image</mat-icon>
    </button>
    <input
      type="file"
      accept="image/"
      #wpInput
      (change)="onWpSelected($event)"
      style="display: none"
    />
  </div>
  <div class="menu-container">
    <ngx-editor-menu
      [editor]="editor"
      [toolbar]="(toolbar$ | async)!"
      [colorPresets]="(colorPresets$ | async) || []"
    ></ngx-editor-menu>
  </div>
  <ngx-editor [editor]="editor" formControlName="editorContent"></ngx-editor>
  <div class="editor-acts">
    <button class="attachment-btn" matIconButton (click)="atInput.click()">
      <mat-icon>attachment</mat-icon>
    </button>
    <input
      type="file"
      accept="image/"
      #atInput
      (change)="onAttachmentsSelected($event)"
      style="display: none"
    />
  </div>
  <mat-divider></mat-divider>
  <div class="opts">
    <div class="opt-row">
      <div class="opt-title"><p i18n>Tags</p></div>
      <div class="opt-value">
        <mat-form-field>
          <mat-chip-grid
            #chipGrid
            formControlName="tags"
            aria-label="Enter fruits"
          >
            <mat-chip-row [editable]="true">
              AAAA
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New tag..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
            />
          </mat-chip-grid>
        </mat-form-field>
      </div>
    </div>
    <div class="opt-row">
      <div class="opt-title"><p i18n>Settings</p></div>
      <div class="opt-value">
        <!-- <mat-form-field appearance="outline">
          <mat-label>outline form field</mat-label>
          <input matinput formControlName="status" placeholder="placeholder" />
          <mat-icon matsuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>hint</mat-hint>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline">
          <mat-label>outline form field</mat-label>
          <input matinput formControlName="category" placeholder="placeholder" />
          <mat-icon matsuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>outline form field</mat-label>
          <input matinput formControlName="shortname" placeholder="placeholder" />
          <mat-icon matsuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>hint</mat-hint>
        </mat-form-field> -->
      </div>
    </div>
    <div class="opt-row">
      <div class="opt-title"><p i18n>Society</p></div>
      <div class="opt-value"></div>
    </div>
  </div>
</form>
}
