:host {
  display: flex;
  flex-direction: column;
}
.image {
  background: url("/assets/images/m_wp_footer.webp");

  background-size: cover;
  background-position: center;
  height: 230px;
}

.info {
  background-image: url("/assets/images/text_paper.webp");

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 45px;
}

.title {
  color: var(--mat-sys-on-secondary);
  font: var(--mat-sys-title-large);
  font-weight: bold;
  margin: 0 0 60px 0;
}

.subtitle {
  color: var(--mat-sys-on-secondary-fixed);
  font: var(--mat-sys-label-small);
  font-weight: bold;
  text-align: center;
  width: 130px;
}

.socials {
  a {
    margin: 0px 16px;
  }
  mat-icon {
    color: black;
    height: 45px;
    width: 45px;
    font-size: 45px;
  }
}
