@if (collection$ | async; as collection) {
  <div class="grid-container">
    <h1 class="mat-h1">{{ collection.title }}</h1>
    <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 4" rowHeight="350px">
      @for (blog of collection.blogs; track blog.id) {
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{ blog.title }}
                <button
                  mat-icon-button
                  class="more-button"
                  [matMenuTriggerFor]="menu"
                  aria-label="Toggle menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Edit (in progress)</button>
                  <button mat-menu-item>Delete (in progress)</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            @if (blog.img_src) {
              <img
                [routerLink]="['/blog/', blog.id]"
                mat-card-image
                src="{{ blog.img_src }}"
              />
            }
            <!-- <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content> -->
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
}
