<div class="audio-player-container">
  @if (audioUrl()) {
  <audio
    #audioPlayer
    [src]="audioUrl()"
    (timeupdate)="onTimeUpdate()"
    (loadedmetadata)="onLoadedMetadata()"
    (ended)="onEnded()"
  ></audio>

  <button mat-icon-button (click)="togglePlayPause()">
    <mat-icon>{{ isPlaying() ? "pause" : "play_arrow" }}</mat-icon>
  </button>

  <div class="progress-container">
    <mat-progress-bar
      mode="determinate"
      [value]="(currentTime() / duration()) * 100"
    ></mat-progress-bar>
    <input
      type="range"
      class="seek-slider"
      [max]="duration()"
      [value]="currentTime()"
      (input)="onSeek($event)"
    />
  </div>

  <div class="time-display">
    <span>
      {{ currentTime() * 1000 | date : "mm:ss" : "UTC" }}
    </span>
    <span>/</span>
    <span>
      {{ duration() * 1000 | date : "mm:ss" : "UTC" }}
    </span>
  </div>
  }
</div>
