.audio-player-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--mat-sys-outline);
  border-radius: 0.5rem;
}

.progress-container {
  position: relative;
  width: 100%;
  min-width: 5rem;
  display: flex;
  align-items: center;
}

.seek-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.time-display {
  font-family: monospace;
  font-size: 0.8rem;

  flex-shrink: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

mat-progress-bar {
  width: 100%;
}
