@if (title(); as title) {

<p class="title">{{ title }}</p>
}

<div class="posts-wrapper">
  <div class="posts noscrollbar" #postsContainer>
    <!-- 3 placeholders for post -->

    @if (posts().length == 0) { @for (item of [1, 2, 3]; track item) {
    <div class="post">
      <div class="post-unload-pre-placeholder app-placeholder"></div>
      <div class="post-unload-descr-placeholder app-placeholder"></div>
    </div>
    } } @for (item of posts(); track item.id) {
    <div class="post">
      <a
        class="post-pre"
        routerLink="/{{ item.name ? item.name : 'p/' + item.id }}"
      >
        @if (item.picture_pre) {
        <img
          [ngSrc]="item.picture_pre"
          width="280"
          height="280"
          [priority]="isLCP()"
          placeholder
        />
        } @else {
        <div class="post-pre-placeholder"></div>
        }
      </a>
      <div class="post-descr">
        <p #postTitle class="post-title" [style.minHeight]="minHeight()">
          <a routerLink="/{{ item.name ? item.name : 'p/' + item.id }}">
            {{ item.title }}
          </a>
        </p>
        <a
          [routerLink]="
            '/' +
            (item.category_name ? item.category_name : 'c/' + item.category_id)
          "
          class="post-subtitle"
        >
          {{ item.category_title | uppercase }}
        </a>
      </div>
    </div>
    }
  </div>

  @if (!( isHandset$ | async )) {
  <button matButton="filled" class="btn btn-prev" (click)="scrollPrev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button matButton="filled" class="btn btn-next" (click)="scrollNext()">
    <mat-icon>chevron_right</mat-icon>
  </button>
  }
</div>
