<div class="drafts-container">
  @for (item of blogs$ | async; track item.id) {
    <mat-card [class]="(isHandset$ | async) ? 'draft-mobile' : 'draft-desktop'">
      <mat-card-header>
        <mat-card-title>{{ item.title || "(Untitled)" }}</mat-card-title>
        <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
      </mat-card-header>
      @if (item.img_src) {
        <img mat-card-image [src]="item.img_src" />
      }
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <!-- <span class="flex-spacer"></span> -->
        <a matButton href="/edit/{{ item.id }}">Edit</a>
      </mat-card-actions>
    </mat-card>
  } @empty {
    <h1>You have no drafts</h1>
  }
</div>
