<div class="container-outer">
  @if (cat(); as cat) {
  <div class="title-container">
    <p>{{ cat.title }}</p>
  </div>

  <div class="content">
    <div class="sorts">
      <button matIconButton [matMenuTriggerFor]="sortMenu">
        <mat-icon>sort</mat-icon>
      </button>
      <mat-menu #sortMenu>
        <button i18n mat-menu-item (click)="changeSort(SortBy.POPULAR)">
          <mat-icon>1k_plus</mat-icon>
          Popular
        </button>
        <button i18n mat-menu-item (click)="changeSort(SortBy.NEWEST)">
          <mat-icon>today</mat-icon>
          Newest
        </button>
        <button i18n mat-menu-item (click)="changeSort(SortBy.OLDEST)">
          <mat-icon>calendar_today</mat-icon>
          Oldest
        </button>
      </mat-menu>
    </div>

    <app-post-list-grid-titles
      [posts]="cat.grid_posts"
    ></app-post-list-grid-titles>

    @if (cat.list_posts.length) {
    <app-post-list-med
      [imageFirst]="true"
      [divider]="false"
      [posts]="cat.list_posts"
    ></app-post-list-med>
    } @if (cat.posts_num > 23) {
    <div class="pagin">
      <mat-paginator
        (page)="onPageChange($event.pageIndex)"
        [pageSize]="23"
        [pageIndex]="page()"
        [length]="cat.posts_num"
        [showFirstLastButtons]="true"
        [hidePageSize]="true"
      ></mat-paginator>
    </div>
    }
  </div>

  }
</div>
