@if (post(); as post) {
<ng-template #image>
  <a
    class="post-pic"
    [style]="
      post.picture_pre
        ? { 'background-image': 'url(' + post.picture_pre + ')' }
        : { background: 'rgb(117, 85, 112)' }
    "
    routerLink="{{ linkForPost(post) }}"
  ></a>
</ng-template>

@if(imageFirst()) {
<ng-container *ngTemplateOutlet="image"></ng-container>
}
<div class="post-text">
  <a class="post-title" routerLink="{{ linkForPost(post) }}">
    {{ post.title }}
  </a>
  <p class="post-descr">{{ post.description }}</p>
  <p class="post-tags">
    @for (tag of post.tags; track tag) {
    <a>#{{ tag }} </a>
    }
  </p>
</div>
@if(!imageFirst()) {
<ng-container *ngTemplateOutlet="image"></ng-container>
} }
