<div class="bcrumb">
  <span>About > me</span>
</div>

<div class="hi-cont">
  <img class="i1" src="/assets/images/about.webp" />
  <div class="text">
    <h1 class="t1">Hi I'm Ine</h1>
    <p class="t2">a beginner polyglot</p>
    <div class="b0">
      I study 5 languages. Korean, Chinese English, Japanese, and Russian.

      <br />
      Some are flunent and some are not yet. My goal is to master all of them
      and become an <b>[ Advanced Polyglot ]</b>
    </div>
  </div>
</div>
<p class="b1">
  I started learning Chinese when I was 8, English at 16, Japanese at 25, and
  Russian at 27. Learning languages is hard, but it’s so rewarding for me! It
  has helped me expand my horizons and understand the world, and myself better.
  Of course, there’s still so much I don’t understand, but I think it’s always
  good to have room for improvement. And what’s more, I will never get tired of
  learning, because languages are always changing and evolving. Just like living
  a creature!
</p>

<div [style.position]="'relative'">
  <blockquote>
    If I had two brains, I would absolutely be learning more. For example
    German, Arabic, Vietnamese, HIndi, Swahili—and conquer the whole world,
    axaxaxa!
  </blockquote>
</div>

<p class="b1">
  And hey, if you’re reading this. Wherever you came from, what do you speak—it
  doesn’t matter. Let’s communicate in any way we can. Because all languages are
  beautiful!
</p>

<div class="vertical-divider"></div>

<div class="dev-cont">
  <img class="i2" src="/assets/images/cpa.webp" />
  <p class="t2">Developer</p>
  <p class="b1">
    This website is developed by our developer CPA<br />
    For businiess inquiries, send emails tosha.fedotov.2000&#64;gmail.com
  </p>
</div>
