<mat-toolbar class="header">
  <app-toolbar [drawer]="drawer"></app-toolbar>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    @if (isHandset()) {
    <app-footer></app-footer>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
