<mat-form-field>
  @if (isHandset$ | async) {
  <button matIconPrefix matIconButton (click)="closeSearch()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  }
  <input
    #searchField
    matInput
    [formControl]="searchControl"
    i18n-placeholder
    placeholder="Search..."
    [matAutocomplete]="auto"
  />

  @if (isHandset$ | async) {
  <button matIconSuffix (click)="clearInput()" matIconButton>
    <mat-icon>close</mat-icon>
  </button>
  } @else {

  <mat-icon matSuffix>search</mat-icon>
  }

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="goToItem($event)"
    [autoActiveFirstOption]="true"
  >
    @for (res of results(); track res.id) {
    <mat-option [id]="itemUrl(res).join('/')">
      <a (click)="closeSearch()" [routerLink]="itemUrl(res)" class="opt">
        <div class="s-image-wrapper">
          <div class="s-image" [style.background]="itemBack(res)"></div>
        </div>
        <div class="s-info">
          <p class="s-title-wrapper">
            <span class="s-title">{{ res.title }}</span>
            <span class="s-type" i18n>{{ res.type }}</span>
          </p>
          <p class="s-descr">{{ res.description }}</p>
        </div>
      </a>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
