@use "@angular/material" as mat;
@use "mixins" as mixs;

.title {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-title-medium);
  box-shadow: var(--mat-sys-level0);
  margin-bottom: 20px;
}
.cats {
  overflow-x: auto;

  mat-chip-listbox {
    padding: 0;
    width: max-content;
    margin-bottom: 1rem;
  }

  @include mat.chips-overrides(
    (
      container-shape-radius: 20px,
      container-height: 48px,
      outline-color: var(--mat-sys-outline-variant),
      elevated-selected-container-color: var(--mat-sys-secondary-container),
      // label-text-color: var(--mat-sys-on-),
    )
  );
}

.desktop-cols {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1rem;
}

.desktop-col {
  width: 50%;
}

.desktop-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  margin-top: 2rem;

  justify-content: space-around;
}

.row-post {
  all: unset;
  display: block;
  cursor: pointer;
}

.row-post-img {
  border-radius: 1rem;
  object-fit: cover;
}

.row-post-title {
  @include mixs.line-clamp(1);
  color: var(--mat-sys-primary);
  font: var(--mat-sys-title-large);
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.row-post-descr {
  margin: 0;
  @include mixs.line-clamp(3);
  font: var(--mat-sys-body-medium);
}
