---
site_name: hpotato.io
secrets:
  - REPLACE_ME
test: true
db:
  pg_dsn: postgresql://postgres:postgres@db:5432/postgres
  redis_dsn: redis://redis

sessions:
  name: sid
  domain: hpotato.io
  secure: 1
  max_age: 604800 # one week

google_oauth:
  redirect_uri: "https://hpotato.io/api/oauth/from_google"
  client_id: REPLACE_ME
  project_id: REPLACE_ME
  auth_uri: https://accounts.google.com/o/oauth2/auth
  token_uri: https://oauth2.googleapis.com/token
  auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
  client_secret: REPLACE_ME
