<mat-nav-list>
  @if (user$ | async) {
  <a mat-list-item i18n (click)="addDraft()">New</a>
  <a mat-list-item i18n routerLink="/drafts">Drafts</a>
  } @else {
  <a mat-list-item i18n href="/api/oauth/to_google">Login</a>
  }

  <h4 class="title" i18n>5 LANGUAGES</h4>
  <mat-nav-list>
    <a mat-list-item i18n routerLink="/korean">Korean</a>
    <a mat-list-item i18n routerLink="/chinese">Chinese</a>
    <a mat-list-item i18n routerLink="/english">English</a>
    <a mat-list-item i18n routerLink="/japanese">Japanese</a>
    <a mat-list-item i18n routerLink="/russian">Russian</a>
  </mat-nav-list>

  <h4 class="title" i18n>About</h4>
  <mat-nav-list>
    <a mat-list-item i18n routerLink="/me">ME</a>
    <a mat-list-item i18n routerLink="/blog">Blog</a>
  </mat-nav-list>

  <!-- <a mat-list-item routerLink="/collection/{{ item.id }}">{{ item.title }}</a> -->
</mat-nav-list>
