@if (post(); as p) {
<div class="container">
  <div class="title-image" [style]="title_image_style()">
    @if (p.category_title) {
    <a [routerLink]="getCategoryLink(p)">{{ p.category_title }}</a>
    } @else {
    <p></p>
    }
    <p i18n>
      {{ p.ttr | number : "1.0-0" }} minute read @if (p.pics) { · {{ p.pics }}
      {{ p.pics | i18nPlural : { "=1": "pic", other: "pics" } }} }
    </p>
  </div>
  <div class="content-container">
    <div class="title">
      @for (line of p.title.split("\n"); track line) {
      {{ line }}<br />
      }
    </div>
    @if (hasRt()) {
    <div class="pinyin-hiragana-wrapper">
      <mat-slide-toggle [(ngModel)]="showAsianHelpers" i18n
        >P/F</mat-slide-toggle
      >
    </div>
    }
    <app-document-dom
      class="content"
      [document]="p.document"
      [showRt]="showAsianHelpers"
      (hasRt)="hasRt.set($event)"
    ></app-document-dom>

    <div class="tags">
      @for (tag of p.tags; track tag) {
      <span (click)="tagClicked(tag)">#{{ tag }}</span>
      }
    </div>
    <div class="meta">
      <div class="actions">
        @if (p.enable_likes) {
        <div>
          <div class="like-button-wrapper">
            @if (likedUsers$() | async; as users) { @if (users.length) {

            <div class="liked-users">
              @for (user of users; track user.id) {
              <a
                class="liked-user-image"
                [routerLink]="['/user', user.id]"
                [matTooltip]="user.username"
              >
                <img [src]="user.picture" [alt]="user.username" />
              </a>
              }
            </div>
            } }
            <button
              (mouseover)="showLikedUsers = true"
              (mouseout)="showLikedUsers = false"
              matIconButton
              (click)="p.liked ? unlike() : like()"
              [class]="likeAnimClass()"
            >
              <mat-icon>{{
                p.liked ? "favorite" : "favorite_border"
              }}</mat-icon>
            </button>
          </div>
          @if (p.likes) {
          {{ p.likes }}
          }
        </div>
        } @if (p.enable_comments) {

        <div>
          <button (click)="toggleShowComments()" matIconButton>
            <mat-icon>comment</mat-icon>
          </button>
          @if (p.comments) {
          {{ p.comments }}
          }
        </div>
        } @if (currentUser$ | async; as user) { @if (user.role ==
        UserRoles.OWNER || user.id == p.id) {
        <div>
          <button matIconButton routerLink="/e/{{ p.id }}">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        } }
      </div>
      <div class="post-add-info">
        @if (currentUser$ | async; as user) { @if(user.role == UserRoles.OWNER)
        {
          <mat-icon>visibility</mat-icon>
        {{ viewCount$ | async }} · } }
        {{ p.date | date : "yyyy.MM.dd" }}
      </div>
    </div>
  </div>
  @if (showComments) {
  <app-comments class="post-comments" [postId]="p.id"></app-comments>
  }
  <mat-divider></mat-divider>
  @if (p.category_id) {
  <div class="more-from">
    <div class="more-from-title" appVisibility i18n>
      <span
        >More from
        <b
          ><a [routerLink]="getCategoryLink(p)">{{ p.category_title }} </a></b
        ></span
      >
    </div>

    @if(similliarPosts$ | async; as posts) {
    <app-post-list-med [posts]="posts"></app-post-list-med>
    } @else {
    <mat-spinner></mat-spinner>
    }
  </div>
  }
</div>
}
