<div class="content">
  <div class="slogan" i18n>
    <p
      class="title"
      appVisibility
      [threshold]="0"
      [debounceTime]="50"
      (isIntersecting)="onSloganIntersecting($event)"
    >
      POLYINE
    </p>
    <p class="text">I Learn Languages!</p>
  </div>
  <app-new-posts
    class="handset-content-block"
    [newPosts$]="newPosts$()"
  ></app-new-posts>
  <app-lang-posts
    class="handset-content-block"
    [(selectedLang)]="selectedLang"
    [langs$]="langs$()"
    [langPosts$]="langPosts$()"
  ></app-lang-posts>
  <app-popular-posts
    class="handset-content-block"
    [popularPosts$]="popularPosts$()"
  ></app-popular-posts>
</div>
