@if (title(); as title) {
<p class="title">{{ title }}</p>
}
<div class="posts noscrollbar">
  @for (item of posts(); track item) {
  <div class="post">
    <img
      src="{{ item.picture_pre }}"
      routerLink="/{{ item.name ? item.name : 'p/' + item.id }}"
    />
    <div class="post-descr">
      <p
        class="post-title"
        #postTitle
        [style.minHeight]="maxTitleHeight >= 65 ? '64px' : ''"
      >
        <a routerLink="/{{ item.name ? item.name : 'p/' + item.id }}">
          {{ item.title }}
        </a>
      </p>
      <p class="post-subtitle">
        {{ item.category_name | uppercase }}
      </p>
    </div>
  </div>
  }
</div>
