@if (title(); as title) {
<p class="title">{{ title }}</p>
}
<div class="posts noscrollbar">
  @for (item of posts(); track item) {
  <div class="post">
    <a
      class="post-pre"
      routerLink="/{{ item.name ? item.name : 'p/' + item.id }}"
      [style]="getPostPreStyle(item)"
    >
    </a>
    <div class="post-descr">
      <p
        class="post-title"
        #postTitle
        [style.minHeight]="maxTitleHeight >= 65 ? '64px' : ''"
      >
        <a routerLink="/{{ item.name ? item.name : 'p/' + item.id }}">
          {{ item.title }}
        </a>
      </p>
      <a
        [routerLink]="
          '/' + item.category_name ? item.category_name : 'c/' + item.category_id
        "
        class="post-subtitle"
      >
        {{ item.category_title | uppercase }}
      </a>
    </div>
  </div>
  }
</div>
