@if (!(savedPost$ | async)) {
<div class="spin-container"><mat-spinner></mat-spinner></div>
} @else {
<div class="container">
  <form [formGroup]="draft">
    @if (postId(); as id) {
    <app-wallpaper-chooser
      class="wallpaper-chooser"
      [isWallpaperLoading]="isWallpaperLoading"
      [formGroup]="draft"
      [postId]="id"
    ></app-wallpaper-chooser>
    }
    <app-title-input class="title-editor" [formGroup]="draft"></app-title-input>

    @if (isShowPhotoManager) {
    <app-photo-manager
      #photoManager
      [previewControl]="previewControl()"
      [wallpaperControl]="wallpaperControl()"
      [documentControl]="documentControl()"
    ></app-photo-manager>
    } @else {
    <app-post-editor-root
      [editor]="editor"
      [documentControl]="documentControl()"
      [(showAsianHelpers)]="showAsianHelpers"
    ></app-post-editor-root>
    }
  </form>
  <div class="editor-acts">
    <button class="attachment-btn" matIconButton (click)="atInput.click()">
      <mat-icon>attachment</mat-icon>
    </button>
    <input
      type="file"
      accept="image/*,audio/*"
      multiple
      #atInput
      (change)="onAttachmentsSelected($event)"
      style="display: none"
    />

    @if (isShowPhotoManager) {
    <button (click)="applyPhotoManager()" matButton="outlined">
      <mat-icon>edit_document</mat-icon>Editor
    </button>

    } @else {

    <button (click)="openPhotoManager()" matButton="outlined">
      <mat-icon>camera</mat-icon>Photo Manager
    </button>
    }

    <div class="pinyin-hiragana-wrapper">
      <mat-slide-toggle [(ngModel)]="showAsianHelpers" i18n
        >Show P/F</mat-slide-toggle
      >
    </div>
  </div>
  @if (isAttachmentLoading || isWallpaperLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <mat-divider [class.unsaved]="hasUnsavedChanges"></mat-divider>
  }
  <app-meta-editor
    [postId]="postId()"
    [isApplyDisabled]="isApplyDisabled"
    [valueSubject$]="metaValueSubject$"
    (onApply)="onMetaApply($event)"
  ></app-meta-editor>
</div>
}
