@if (!(savedPost$ | async)) {
<div class="spin-container"><mat-spinner></mat-spinner></div>
} @else {
<div class="container">
  <form [formGroup]="draft">
    @if (postId(); as id) {
    <app-wallpaper-chooser
      class="wallpaper-chooser"
      [isWallpaperLoading]="isWallpaperLoading"
      [formGroup]="draft"
      [postId]="id"
    ></app-wallpaper-chooser>
    }
    <app-title-input class="title-editor" [formGroup]="draft"></app-title-input>
    <div class="editor">
      <div class="menu-container">
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="(toolbar$ | async)!"
          [colorPresets]="(colorPresets$ | async) || []"
          [customMenuRef]="customMenu"
        ></ngx-editor-menu>

        <ng-template #customMenu>
          <app-menu
            [editor]="editor"
            (asianHelperClicked)="asianHelperClicked.next()"
          ></app-menu>
        </ng-template>
      </div>
      <ngx-editor
        [editor]="editor"
        formControlName="document"
        [class.app-rt-disabled]="!showAsianHelpers"
      ></ngx-editor>
    </div>
  </form>
  <div class="editor-acts">
    <button class="attachment-btn" matIconButton (click)="atInput.click()">
      <mat-icon>attachment</mat-icon>
    </button>
    <input
      type="file"
      accept="image/*,audio/*"
      multiple
      #atInput
      (change)="onAttachmentsSelected($event)"
      style="display: none"
    />

    <div class="pinyin-hiragana-wrapper">
      <mat-slide-toggle [(ngModel)]="showAsianHelpers" i18n
        >Show P/F</mat-slide-toggle
      >
    </div>
  </div>
  @if (isAttachmentLoading || isWallpaperLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <mat-divider [class.unsaved]="hasUnsavedChanges"></mat-divider>
  }
  <app-meta-editor
    [postId]="postId()"
    [isApplyDisabled]="isApplyDisabled"
    [valueSubject$]="metaValueSubject$"
    (onApply)="onMetaApply($event)"
  ></app-meta-editor>
</div>
}
