<div class="container">
  <div class="footer-slogan">
    <p>All Languages Are Beautiful</p>
  </div>
  <div class="image"></div>
  <div class="info">
    <p class="subtitle animation" i18n>But These 5 Languages are something!</p>

    @if (isHandset$ | async) {

      <span class="title">{{ appName$ | async }}</span>

    <div class="socials">
      @for (item of (socials$|async); track item.href) {
      <a href="{{ item.href }}"><mat-icon [svgIcon]="item.icon"></mat-icon></a>
      }
    </div>

    } @else {

    <div>
      <div class="columns">
        <div class="column">
          <p class="column-title">5 Languages</p>
          <a routerLink="/korean">Korean</a>
          <a routerLink="/chinese">Chinese</a>
          <a routerLink="/english">English</a>
          <a routerLink="/japanese">Japanese</a>
          <a routerLink="/russian">Russian</a>
        </div>
        <div class="column">
          <p class="column-title">About</p>
          <a routerLink="/me">Me</a>
          <a routerLink="/blog">Blog</a>
        </div>
        <div class="column contact-column">
          <p class="column-title">Contact</p>
          <a href="mailto:1103traveller@gmail.com"
            >1103traveller&#64;gmail.com</a
          >

          <div class="socials">
            @for (item of (socials$|async); track item.href) {
            <a href="{{ item.href }}"
              ><mat-icon [svgIcon]="item.icon"></mat-icon
            ></a>
            }
          </div>
        </div>
      </div>

      <div class="s-copyright">
        <span class="app-name">{{ appName$ | async }}</span>

        <div class="copyright-text">
          &copy; {{ currentYear }} {{ appName$ | async }} All Rights Reserved.
        </div>
      </div>
    </div>
    }
  </div>
</div>
