@use "mixins" as m;
:host {
  display: block;
}

.opt-row {
  @include m.for-size(desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
  }
}
.opt-title {
  font: var(--mat-sys-title-medium);
  min-width: 15rem;
}
.opt-value {
  display: flex;

  @include m.for-size(handset) {
    flex-direction: column;
    gap: 1rem;
  }

  @include m.for-size(desktop) {
    flex: 1;
    justify-content: space-between;
  }
}

.opt-toggles {
  display: flex;
  flex-flow: column;

  mat-slide-toggle {
    margin: 0.5rem 0;
  }
}

.tags-field {
  width: 100%;
}

.general-actions {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
