@use "mixins" as mixs;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @include mixs.for-size("desktop") {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
mat-toolbar {
  padding: 0;
}

app-toolbar {
  width: 100%;
  height: 100%;

  @include mixs.for-size("desktop") {
    max-width: var(--post-max-width);
  }
}

.sidenav {
  width: 15rem;
}

@include mixs.for-size(desktop) {
  .drawer-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

  .drawer-close {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }
}

.footer-line {
  margin: 10rem 0 0 0;
  border-top: 2px solid var(--mat-sys-primary);
  min-height: 20rem;
}

.footer-blank {
  margin: 10rem 0 0 0;
  min-height: 10rem;
}
