<mat-toolbar class="header">
  <app-toolbar [drawer]="drawer"></app-toolbar>
</mat-toolbar>
<mat-sidenav-container
  [style.marginTop.px]="isHandset() ? 56 : 64"
  class="sidenav-container"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    [class]="drawerOpened ? 'drawer-open' : 'drawer-close'"
    fixedInViewport
    [fixedTopGap]="isHandset() ? 56 : 64"
    (openedStart)="drawerOpened = true"
    (closedStart)="drawerOpened = false"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    @if (isHandset()) {
    <app-footer></app-footer>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
