@use "@angular/material" as mat;
:host {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  overflow: hidden;
}

img {
  border-radius: 100%;
  &.av-small {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
  }
  &.av {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

.top {
  display: flex;
  flex-flow: row nowrap;

  font: var(--mat-sys-body-medium);
  gap: 0.5rem;
}

.date {
  color: var(--mat-sys-outline);
}

.uname {
  color: var(--mat-sys-primary);
}

.comment {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.actions {
  font-size: var(--mat-sys-body-medium);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .btn-like {
    transform: scale(0.8);

    @include mat.icon-overrides(
      (
        color: var(--mat-sys-primary),
      )
    );
  }
}

.animate {
  animation: like-animation 0.25s ease-out;
}

@keyframes like-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -20%) scale(1.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

