@mixin line-clamp($lines) {
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin for-size($size) {
  @if $size == handset {
    @media (max-width: 599.98px) and (orientation: portrait),
      (max-width: 959.98px) and (orientation: landscape) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 599.98px) and (orientation: portrait),
      (min-width: 959.98px) and (orientation: landscape) {
      @content;
    }
  }
}
