/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "_theme-colors.scss" as ptheme;

:root {
  --post-max-width: 57rem;

  // ngx-editor
  --post-background-color: var(--mat-sys-surface);
  --post-text-color: var(--mat-sys-on-surface);
  --post-placeholder-color: var(--mat-sys-on-surface);
  --post-border-radius: 4px;
  --post-border-color: ""; // var(--mat-sys-outline-variant);
  --post-wrapper-border-color: var(--mat-sys-outline-variant);

  --post-menubar-bg-color: var(--mat-sys-surface);
  --post-menubar-padding: 3px;
  --post-menubar-height: 30px;

  --post-blockquote-color: var(--mat-sys-primary);
  --post-blockquote-border-width: 3px;
}

html {
  height: 100%;
  color-scheme: light dark;

  a {
    all: unset;
    cursor: pointer;
  }

  @include mat.theme(
    (
      color: ptheme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  height: 100%;
  margin: 0;
}

.flex-spacer {
  flex: 1 1;
}

.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

app-category {
  .mat-mdc-paginator-range-actions {
    justify-content: center;
    flex-wrap: wrap;

    .mat-mdc-paginator-range-label {
      text-align: center;
      flex: 1 1 100%;
      margin: 0;
    }
  }
}
