/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "_theme-colors.scss" as ptheme;
@use "./mixins" as mixs;

:root {
  --post-max-width: 57rem;

  // ngx-editor
  --post-background-color: var(--mat-sys-surface);
  --post-text-color: var(--mat-sys-on-surface);
  --post-placeholder-color: var(--mat-sys-on-surface);
  --post-border-radius: 4px;
  --post-border-color: ""; // var(--mat-sys-outline-variant);
  --post-wrapper-border-color: var(--mat-sys-outline-variant);

  --post-menubar-bg-color: var(--mat-sys-surface);
  --post-menubar-padding: 3px;
  --post-menubar-height: 30px;

  --post-blockquote-color: var(--mat-sys-primary);
  --post-blockquote-border-width: 3px;

  --app-autocomplete-shape: 28px;
}

html {
  // min-height: 100%;
  color-scheme: dark;

  a {
    all: unset;
    cursor: pointer;
  }

  background-color: var(--mat-sys-surface);

  @include mat.theme(
    (
      color: ptheme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mixs.for-size("handset") {
    @include mat.autocomplete-overrides(
      (
        background-color: var(--mat-sys-surface-variant),
        container-shape: var(--app-autocomplete-shape),
      )
    );
  }
}

body {
  // min-height: 100%;
  margin: 0;
}

.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

app-category {
  .mat-mdc-paginator-range-actions {
    justify-content: center;
    flex-wrap: wrap;

    .mat-mdc-paginator-range-label {
      text-align: center;
      flex: 1 1 100%;
      margin: 0;
    }
  }
}

.app-placeholder {
  animation: shining 1.5s infinite;
  background: linear-gradient(to right, #333 8%, #444 18%, #333 33%);
  background-size: 800px 104px;

  @keyframes shining {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
}

.app-rt-disabled {
  rt {
    display: none;
  }
}

// .ProseMirror-search-match {
//   background-color: #ffff0054;
// }
// .ProseMirror-active-search-match {
//   background-color: #ff6a0054;
// }

app-document-dom {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
  width: 100%;
  outline: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  white-space: pre-wrap;
  word-wrap: break-word;

  img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    line-height: 0;
    border-radius: 0.1rem;

    cursor: pointer;
  }

  p {
    margin: 0 0 10px;
  }

  blockquote {
    padding-left: 16px;
    border-left: var(--post-blockquote-border-width) solid
      var(--post-blockquote-color);
    margin-left: 0;
    margin-right: 0;
  }
}

.app-rt-disabled {
  rt {
    display: none;
  }
}

p:empty {
  display: block;
  // same height as line
  min-height: 1em;
}
