/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use '_theme-colors.scss' as ptheme;

:root {
  --blog-max-width: 80ch;

  --blog-background-color: var(--mat-sys-surface);
  --blog-text-color: var(--mat-sys-on-surface);
  --blog-placeholder-color: var(--mat-sys-on-surface);
  --blog-border-radius: 4px;
  --blog-border-color: var(--mat-sys-outline-variant);
  --blog-wrapper-border-color: var(--mat-sys-outline-variant);

  --blog-menubar-bg-color: var(--mat-sys-surface);
  --blog-menubar-padding: 3px;
  --blog-menubar-height: 30px;

  --blog-blockquote-color: var(--mat-sys-primary);
  --blog-blockquote-border-width: 3px;
}

html {
  height: 100%;
  color-scheme: light dark;

  @include mat.theme(
    (
      color: ptheme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  height: 100%;
  margin: 0;
}

.flex-spacer {
  flex: 1 1;
}

.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
