@if (title(); as title) {
<p class="title">{{ title }}</p>
} @if(isHandset()) {
<div class="cats noscrollbar">
  <mat-chip-listbox (change)="onChange($event)">
    @for (cat of cats() ; track cat.id) {
    <mat-chip-option
      selected="{{ cat.id == selectedCat()?.id }}"
      [value]="cat"
      >{{ cat.title | uppercase }}</mat-chip-option
    >
    }
  </mat-chip-listbox>
</div>
<app-post-list-med
  [imageFirst]="true"
  [posts]="posts()"
  [divider]="false"
></app-post-list-med>
} @else {
<mat-tab-group (selectedTabChange)="onChangeTab($event)">
  @for (cat of cats() ; track cat.id) {
  <mat-tab label="{{ cat.title | uppercase }}">
    <ng-template matTabContent>
      <div class="desktop-cols">
        <div class="desktop-col">
          <app-post-list-med
            [imageFirst]="true"
            [posts]="posts()"
            [divider]="false"
          ></app-post-list-med>
        </div>
        <div class="desktop-col">
          <app-post-list-med
            [imageFirst]="true"
            [posts]="posts()"
            [divider]="false"
          ></app-post-list-med>
        </div>
      </div>
      <div class="desktop-row">
        @for (post of posts().slice(0, 3); track post.id) {
        <a class="row-post" [routerLink]="linkForPost(post)">
          <div class="row-post-img" [style.background]="imageUrl(post)"></div>
          <div class="row-post-info">
            <p class="row-post-title">{{ post.title }}</p>
            <p class="row-post-descr">{{ post.description }}</p>
          </div>
        </a>

        }
      </div>
    </ng-template>
  </mat-tab>
  }
</mat-tab-group>

}
