@use "@angular/material" as mat;
@use "mixins" as mixs;

mat-grid-list {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &.hide {
    opacity: 0.7;
  }
}
.title {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-title-medium);
  box-shadow: var(--mat-sys-level0);
  margin-bottom: 20px;
}

.image {
  border-radius: 8px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.actions {
  display: flex;
  padding: 30px 0;
  justify-content: center;

  button {
    // font-size: 45px;
    height: 60px;
    width: 100%;

    mat-icon {
      font-size: 45px;
      height: 45px;
      width: 45px;
    }

    @include mat.icon-overrides(
      (
        color: var(--mat-sys-primary),
      )
    );

    @include mat.button-overrides(
      (
        outlined-outline-color: var(--mat-sys-outline-variant),
      )
    );

    @include mixs.for-size(desktop) {
      width: 40ch;
    }
  }
}
