@use "mixins" as mixs;
@use "theme-colors" as c;
@use "sass:map";

.post-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.post-item {
  position: relative;

  &:hover {
    .post-delete-btn {
      display: inline;
    }
  }
}

.post-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;

  width: 200px;
  @include mixs.handset {
    width: 120px;
  }

  img {
    object-fit: cover;
    border-radius: 8px;
  }

  .pre-placeholder {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    border: 2px dashed map.get(c.$primary-palette, 90);

    @include mixs.handset {
      width: 120px;
      height: 120px;
    }
  }
}

.title {
  color: var(--mat-sys-primary);
  margin: 0.5rem 0 0 0;

  @include mixs.line_clamp(1);
}

.post-delete-btn {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;

  display: none;
}
