@use "mixins" as mixs;
@use "theme-colors" as c;
@use "sass:map";

.post-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  @include mixs.for-size("desktop") {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.post-item {
  position: relative;

  &:hover {
    .post-delete-btn {
      display: inline;
    }
  }
}

.post-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
  }

  .pre-placeholder {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 1rem;
    border: 2px dashed map.get(c.$primary-palette, 90);
  }
}

.title {
  color: var(--mat-sys-primary);
  margin: 0.5rem 0 0 0;

  @include mixs.line_clamp(1);
}

.post-delete-btn {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;

  display: none;
}
