:host {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
  width: 100%;
  outline: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  white-space: pre-wrap;
  word-wrap: break-word;

  img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    line-height: 0;
    border-radius: 0.1rem;
  }

  p {
    margin: 0 0 10px;
  }

  blockquote {
    padding-left: 16px;
    border-left: var(--post-blockquote-border-width) solid
      var(--post-blockquote-color);
    margin-left: 0;
    margin-right: 0;
  }
}
